<!DOCTYPE html>
<html lang="en">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="Card" th:fragment="cardFragment">
    <div class="Card"><a class="Card-picture" href="/books/slug.html" th:href="${book.id}"><img src="/assets/img/content/main/card.jpg" alt="card.jpg"/></a>
        <div class="Card-content">
            <strong class="Card-title"><a href="/books/slug.html" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:text="${book.authorName}">Кондратенко Валерий Петрович
            </div>
            <div class="Card-cost"><span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span><span class="Card-price" th:text="${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>