<!DOCTYPE html>
<html lang="en">
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="Card" th:fragment="cardFragment">
    <div class="Card-picture"> <a href="/books/slug.html" th:href="${book.id}">
        <img th:src="${book.image}" alt="card.jpg"/></a>
        <div class="Card-sale" th:if="${book.price} > 0" th:text="скидка+ ${book.price}" >30% скидка </div>
    </div>
    <div class="Card-content">
        <strong class="Card-title"><a href="/books/slug.html" th:text="${book.title}">Техника</a>
        </strong>
        <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
        </div>

        <div class="Card-cost">
            <span class="Card-price" th:text="${book.priceOld}">₽190.00</span>
        </div>

    </div>

</div>
</body>
</html>